@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    color: #555;
    margin: 0;
    font-family: 'Monteserrat', sans-serif;
}

a {
    color: #1abc9c;
    text-decoration: none;
}

a:hover{
    color: #f6a523
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

/* HEADER */
#header {
    background-color: #09ffdd;
    height: 150px;
    line-height: 150px;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-size:20px;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing:.1px;
    margin-right: 10px;
}

#header a:hover {
    color: #000;
}

#header-title {
    display: block;
    float:left;
    text-decoration: none;
    margin-left: 50px;
}

#header-nav {
    display: block;
    float:right;
    margin-top:0;
}

#header-nav li {
    display:inline;
    padding-left: 20px;
}

/* HEADER */

/* BODY */

#divider {
    background-color: #efefef;
    height: 10px;
    

}

.post, .about{
    max-width: 800px;
    margin: 10px auto;
    padding: 30px 0;
}

.about {
    text-align: center;
}

.about-author img {
    margin-left: 260px;
}

.post-author, .about{
    background-color: #f9f99;
    border-radius: 2%;
    padding:2px;
}

.post-author img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.post-author span {
    margin-left: 16px;
}

.post-date {
    color: #aaa;
    font-weight: bold;
    font-size:14px;
    letter-spacing: .1px;
    text-transform: uppercase;
}
img {
    border: #555 4px solid;
    border-radius: 50%;
}

.post-content{
    background-color: #f9f9f9;
    border-radius: 2%;
    padding:1px 7px;
}

h1, h2, h3, h4 {
    color: #333;
}

p {
    line-height: 1.5;
}

/* BODY */

/* FOOTER */

#footer, #aboutFooter {
    background-color:#2f2f2f;
    padding: 50px 0;
    text-align: center;
}

#aboutFooter {
    text-align: center;
}

#footer h4, #aboutFooter h4{
    color:white;
    text-transform: uppercase;
    letter-spacing: .1px;
}

#footer p, #aboutFooter p{
    color:white;

}
.column {
    min-width:400px;
    display:inline-block;
    vertical-align:top;
}
/* FOOTER */